<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Note Manager App</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="notemanager" class="nav-link">List Notes</a>
      </li>
      <li class="nav-item">
        <a routerLink="addnotes" class="nav-link">Add Note</a>
      </li>
      <li class="nav-item">
        <a routerLink="getcategories" class="nav-link">List Categories</a>
      </li>
      <li class="nav-item">
        <a routerLink="addcategories" class="nav-link">Add Categories</a>
      </li>
      <li class="nav-item">
        <a routerLink="editcategories" class="nav-link">Edit Categories</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
